{% extends 'base.html' %}
{% block content %}
<div class="p-3 mt-4">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card shadow p-3 mb-4 rounded">
          <div class="card-body">
            <h2>Reset Password</h2>
            <hr />

            {% if messages %}
              {% for message in messages %}
                <div class="alert alert-danger">{{ message }}</div>
              {% endfor %}
            {% endif %}

            <form method="POST">
              {% csrf_token %}
              <input type="hidden" name="email" value="{{ email }}">  <!-- Store email -->
              <label for="new_password">New Password:</label>
              <input type="password" name="new_password" id="new_password" required class="form-control">

              <label for="confirm_password" class="mt-3">Confirm Password:</label>
              <input type="password" name="confirm_password" id="confirm_password" required class="form-control">

              <button type="submit" class="btn btn-primary mt-3">Reset Password</button>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
